---
const { title = "Cuestionario Financiero" } = Astro.props;
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <main>
      <slot /> <!-- Aquí se inyecta el contenido de cada página -->
    </main>
  </body>
</html>